services:
  main:
    build: .
    container_name: dollar
    depends_on:
      db:
        condition: service_healthy
      lavalink:
        condition: service_started
    networks:
      - dollar
    environment:
      TOKEN: ${TOKEN}
      GENIUSTOKEN: ${GENIUSTOKEN}
      LAVALINK_TOKEN: ${LAVALINK_TOKEN}
      LAVALINK_EMAIL: ${LAVALINK_EMAIL}
      LAVALINK_PASSWORD: ${LAVALINK_PASSWORD}
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      GHUBTOKEN: ${GHUBTOKEN}
      DB_USER: ${DB_USER}
      DB_PW: ${DB_PW}
      DB_SCHEMA: ${DB_SCHEMA}
      PATCHES_CHANNEL: ${PATCHES_CHANNEL}
      CASH: ${CASH}
      SEND_PATCH_NOTES: ${SEND_PATCH_NOTES}
      TZ: America/Los_Angeles
    ports:
      - "5000:5000"
    restart: unless-stopped

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4
    container_name: lavalink
    restart: unless-stopped
    environment:
      _JAVA_OPTIONS: "-Xmx1G"
      LAVALINK_SERVER_PASSWORD: ${LAVALINK_TOKEN}
      TZ: "America/Los_Angeles"
    volumes:
      - ./application.yml:/opt/Lavalink/application.yml
      - ./plugins:/opt/Lavalink/plugins/
    networks:
      - dollar
    ports:
      - "2333:2333"
    user: root

  db:
    image: postgres:17
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PW}
      POSTGRES_DB: ${DB_SCHEMA}
      TZ: "America/Los_Angeles"
    volumes:
    - pgdata:/var/lib/postgresql/data
    - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_SCHEMA}"]
      interval: 2s
      timeout: 5s
      retries: 30
      start_period: 10s
    networks:
      - dollar
    ports:
      - "5432:5432"

volumes:
  pgdata:

networks:
  dollar:
    name: dollar
